
body{
    background-image: url('/img/backgrounds/pawel-czerwinski-suLgJZ1edT4-unsplash.jpg'),  url('/img/backgrounds/mathew-macquarrie-KFdIgwm8HTs-unsplash.jpg');
    background-color: rgb(38, 38, 92);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: screen;
}

img{
    size: 100%;
}

h1, h2{
    font-family: cursive;
}

h3, ul, div{
    font-family: 'Raleway', sans-serif;
}
