
*{
    box-sizing: border-box;
}

body{
    background-image: url('/img/backgrounds/pawel-czerwinski-suLgJZ1edT4-unsplash.jpg'),  url('/img/backgrounds/mathew-macquarrie-KFdIgwm8HTs-unsplash.jpg');
    background-color: rgb(38, 38, 92);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: screen;
}

img{
    size: 100%;
}

h1, h2{
    font-family: cursive;
}

h3, ul, div{
    font-family: 'Raleway', sans-serif;
}

.venudiv{
    margin-top: 4vh;
    margin-left: auto;
    margin-right:auto;
    background-color: rgba(51, 51, 51, 0.555);
    height: 70vh;
    width: 80vw;
    
}
.venueblurb{
    line-height: 2.5vh;
    margin: 2vh;
}

.footer_area{
    background-color: rgba(51, 51, 51, 0.555);
    font-size: 1.4vh;
    color: rgb(185, 184, 184);
    line-height: 2.3vh; 
    padding: 1vh;
    margin-top: 13vh;
}

.rib-footer{
    margin-left: 47%;

}

