
#names-box {
  text-shadow: 1px 1px #404040;
  color: #6f6fdc;
  position:absolute;
  bottom:0;
  right:0;
  padding-right: 20px;
}

#names {
  margin-bottom: -10px;
}

.logo {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-top: 70px;
  width: 30px;
  height: 30px;
}

.layout_body{
  background: url(/img/backgrounds/mathew-macquarrie-KFdIgwm8HTs-unsplash.jpg), url(/img/backgrounds/pawel-czerwinski-suLgJZ1edT4-unsplash.jpg);
  background-color: lightSteelBlue; 
  height: 100%, 100%; 
  background-position: bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, cover;
  background-blend-mode: overlay;
}