ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.555);
}

li {
  float: left;
}

li:first-child{
  padding-right: 3vw;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li h1 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 0px;
  margin-top: 6vh;
  text-decoration: none;
  font-size: 25px;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  background-color: #111;
} */

.page-title{
  padding-top: 0vh, 0vh;
}

.nav-item {
	float: right;
}

.nav-item:hover{
  background-color: #111;
}
.container {
  position: relative;
}

#main_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: rgba(51, 51, 51, 0.555);
  margin-top: 13vh;
}

#names_box {
  text-shadow: 1px 1px #404040;
  color: #6f6fdc;
  padding-right: 8vw;
  position: absolute;
  top: 5vh;
  right: 2vw;
  font-size: 35px;

}
/*

.nav-item {
  margin: 5vw;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline;
}*/
/*
a {
	float: left;
	color: yellow;
}

a > img {
	
	float: right;
}*/