.formholder{
    margin-top: 4vh;
    margin-left: auto;
    margin-right:auto;
    background-color: rgba(51, 51, 51, 0.555);
    width: 80vw;
    padding: 3vh;
    color: white;
}

/*{
  width: 50%;
  height: 40%;
  margin: auto;
  padding: 5vh;
  margin-left: 25vw;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.555);
  color: white;
}*/

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}