/* $default-background: rgb(38, 38, 92); 

$background-1: url('/img/backgrounds/pawel-czerwinski-suLgJZ1edT4-unsplash.jpg'); 
$background-2: url('/img/backgrounds/mathew-macquarrie-KFdIgwm8HTs-unsplash.jpg'); 

$outline: .01vh solid rgb(61, 61, 63); 

$dropshadow: .01vh .02vh solid rgba(61, 61, 63, 0.596) */