$primary-background: #f5f7ff ; 
$seccondary-background: #BFC1C2; 

$primary-accent: #183df5; 
$seccondary-accent: #050e38; 
$tirciary-accent: #BFC1C2; 

$primary-font: #050e38; 
$seccondary-font: #BFC1C2; 
$tirciary-font: #183df5; 


