{% extends "layout.html" %}
{% block title %}
Venue
{% endblock %}
{% block body %}
        <!--================Accomodation Area =================-->
        <div>
            <img class="venueimg" src="img/anderson.jpg" alt="">
            <div class='venueblurb'>
                <a class="nav-link" href="https://www.mcmenamins.com/anderson-school"><h4>Mcmenamins Anderson School</h4></a>
                <p>A complex of restaurants, hotels, and even a theatre located in Bothell, and only 15 minutes away from the venue. We have reserved a large block of rooms for our out-of-town guests.</p>
            </div>
        </div>
        <!--================End Accomodation Area =================-->
        
        
{% endblock %}



{% block css %}
<link rel="stylesheet" href="scss/venue.css">
{% endblock %}