{% extends "layout.html" %}
{% block title %}
Accommodation
{% endblock %}
{% block body %}
        <!--================Accomodation Area =================-->
        <div class="venuediv">
            <img class="venueimg" src="img/anderson.jpg" alt="">
            <div class='venueblurb'>
                <a class="nav-link" href="https://www.mcmenamins.com/anderson-school"><h2>Mcmenamins Anderson School</h2></a>
                <p>We have secured a block of twenty rooms in a wonderful and unique space located in Bothell, WA. McMenamin’s* Anderson School opened in October of 2015 in a 1931 historic junior high school renovated as a hotel, restaurants, movie theater, community pool, and other assorted fun. The hotel is located close to the Woodinville Wine District, where we are having our wedding ceremony</p></br>

 
<p>
We have reserved this block from Thursday, October 29th, 2020 through Sunday, November 1st, 2020. McMenamins will hold the block for us until September 29th, 2020 and then open it up to the public. The rooms are priced at market rate yet can be cancelled up until 48 hours of planned check-in…so it is low risk to book now. If we need more, we can book more and if the block is not filled, we incur no obligation. There are three different types of rooms available. Please go to their site (linked above) to make a reservation by following these steps.</p></br>

<p>
1.Enter your dates
</br>
2.Under the Special Rates pulldown, choose Group/Block
</br>
3.In the Code box, enter '2010CIMAKA' this will allow you to choose room type, etc.
</br>
</p>
            </div>
        </div>
        <!--================End Accomodation Area =================-->
        
        
{% endblock %}



{% block css %}
<link rel="stylesheet" href="css/venue.css">
{% endblock %}
