{% extends "layout.html" %}
{% block title %}
accomodation
{% endblock %}
{% block body %}
        <!--================Accomodation Area =================-->
        <section class="act_area p_120">
            <div class="container">
                <div class="row act_inner">
                    <div class="col-lg-4">
                        <div class="progress_item">
                            <img class="img-fluid" src="img/act/act-1.jpg" alt="">
                            <div class="progress_text">
                                <a href="#"><h4>Santa Monica Church</h4></a>
                                <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women.</p>
                                <div class="date">
                                    <a href="#">Rocky Beach, Los angeles, USA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="progress_item">
                            <img class="img-fluid" src="img/act/act-2.jpg" alt="">
                            <div class="progress_text">
                                <a href="#"><h4>Fountain Hotel</h4></a>
                                <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women.</p>
                                <div class="date">
                                    <a href="#">Rocky Beach, Los angeles, USA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="progress_item">
                            <img class="img-fluid" src="img/act/act-3.jpg" alt="">
                            <div class="progress_text">
                                <a href="#"><h4>Casabianca Restaurant</h4></a>
                                <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women.</p>
                                <div class="date">
                                    <a href="#">Rocky Beach, Los angeles, USA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Accomodation Area =================-->
        
        
{% endblock %}
