
#names-box {
  text-shadow: .01vh .01vh #404040;
  color: #6f6fdc;
  position:absolute;
  top:5vh;
  right:0vh;
  padding-right: .2vh;
}

#names {
  margin-bottom: -.1vh;
}

.logo {
  padding-bottom: .3vh;
  padding-left: .3vh;
  padding-top: .7vh;
  width: .2vh;
  height: .2vh;
}

html{
  background: url(/img/backgrounds/mathew-macquarrie-KFdIgwm8HTs-unsplash.jpg), url(/img/backgrounds/pawel-czerwinski-suLgJZ1edT4-unsplash.jpg);
  background-color: lightSteelBlue; 
  background-position: bottom, center;
  background-repeat: repeat-y, no-repeat;
  background-size: cover, cover;
  background-blend-mode: overlay;

  
}

.layout_body{
  background-color: transparent;
}

.p_120 {
    color: black;
    text-shadow: .005vh .005vh #404040;
    font-size: 20px;
}

.logo_h {
	color: #000000;
	font-size: 30px;
}

.venueitem {
    max-width: 40%;
    max-height: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 8em
    display: inline-block;
}

.act_inner {
  background: grey;
  padding: 3%;
}

.venueimg {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;

}

p {
  margin-top: 5vh;
}