{% extends "layout.html" %}
{% block title %}
RSVP
{% endblock %}
{% block body %}
<!--================Reservation Form Area =================-->
        <section>
        	<div>
        		<div class='formholder'>
        			<div class="form_title">
        				<h2>Reservation Form</h2>
        				<p>Please fill out this form for each guest in your party.</p>
        			</div>
        			<form action="/confirm-rsvp" method="post">
						<div>
							<input type="text" class="form-control" id="name" name="name" placeholder="Name">
						</div>
						<div>
							<input type="text" class="form-control" id="email" name="email" placeholder="Email address">
						</div>
<!-- 						<div>
							<input type="text" class="form-control" id="numguests" name="number_of_guests" placeholder="Number of guests">
						</div> -->
						<div>
							<select class="res_select" name='meal_preference'>
								<option>meal preference</option>
								<option value="steak">steak</option>
								<option value="beans">beans</option>
								<option value="vodka">vodka</option>
							</select>
						</div> 
						<div>
							<button class="btn submit_btn" type="submit" value="submit">Confirm Now</button>
						</div>
					</form>
        		</div>
        	</div>
        </section>
        <!--================End Reservation Form Area =================-->
{% endblock %}



{% block css %}
<link rel="stylesheet" href="css/rsvp.css">
{% endblock %}
