{% extends "layout.html" %}
{% block title %}
Venue
{% endblock %}
{% block body %}
        <!--================Accomodation Area =================-->
        <div class="venuediv">                   
        <img class="venueimg" src="img/lill.png" alt="">
                            <div class='venueblurb'>
                                <a class="nav-link" href="https://chateaulill.com/"><h2>Chateau Lill</h2></a>
                                <p>A beautiful rural winery out in Woodinville, Washington. Come join us on the day of our wedding for the ceremony and festivities!</p>
                            </div>
                            </div>
        <!--================End Accomodation Area =================-->
        
        
{% endblock %}



{% block css %}
<link rel="stylesheet" href="css/venue.css">
{% endblock %}